#titre_header{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(48, 47, 47);
    background: url("../images/separateur-header.png") repeat-x bottom; 
    background-color:  rgb(243, 219, 154);
    padding-bottom: 1em;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

