body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#corps_tache{
    text-align: center;
    justify-content: space-around;
}
/*#trois_objets_principaux{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/